html {
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 추가 */
       
    font-size: 62.5%;    /* 1rem = 10px */   
}


@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');  
    font-display: swap;	
}


@font-face {
    font-family: 'NanumBarunGothic';
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff') format('woff');
    font-weight: 100;
    font-display: swap;
}

body{
	 font-family: "IBM Plex Sans", sans-serif;
     font-weight: 500 ;
}


*{
	margin: 0;
	padding: 0;
}  


a{
    color: inherit;
    text-decoration: none;
}

img {
    width : 100% ; 
    height: 100% ;  
    border-radius: 100% ;
}

li{
    list-style: none;
}

/* *================ CSS for header================*  */

.h_wrap{
    position : fixed ; 
    width : 100% ;    
    height : 6vh ; 
    background-color:  #022B5c; 
    align-items: baseline;
}

.h_inner {
    width : 100% ; 
    max-width : 1280px ; 
    height : 100% ;  
    background-color: #022B5c; 
    margin: auto ;    
}  

ul.menu{    
    display: flex ; 
    height : 100% ;  
    justify-content: space-between ;  
    align-items: center ; 
}

ul.menu li { 
    display: flex;  /* 세로 중앙 정렬 */
    list-style: none;
    align-items: center ;  
    height : 100% ;       
    color : #fff ;   
    font-size: 1.8rem; 
}

.right_box h4 {
    font-size: 2.8rem;   
}


/* **=========CSS for banner ===========** */ 

.banner {
    width : 100% ;  
    height : 56vh ;   
    background-color: rgb(95, 85, 85) ;   
}

.banner_inner {
     width : 100% ;  
     max-width : 1920px ; 
     margin : auto ; 
    height : 56vh ;     /* 56vh = 대략 600px */
    background-color: rgb(38, 175, 65) ;   
}



/* **=========CSS for about ===========** */  

section.about {
    width : 100% ;  
    min-height : 100vh ;   
    height : auto ; 
    padding-top : 7vh ;   
    text-align: center;
    overflow: hidden ;
} 

.about_inner {
    background-color: #edf1ed; 
    width: 90%;
    height: 90%;
    max-width: 1280px;
    margin: auto;   
    padding: auto; 
    padding-top : 40px ; 
    overflow: hidden ;   
    border: 1px solid red;
} 

.about_inner{
    display: grid;              
    grid-template-columns: 1fr; /* 1열 */
    grid-template-rows: 1fr 1fr;        /* 2행 */
    gap: 20px;                     
} 

.left_box{    
    border: 1px solid red;
    height : 90% ; 
    justify-content: flex-start ;  
    padding : 20px ;  
    text-align: left;
    overflow: hidden ;     
}


.left_box {
    display: grid;              /* 그리드 레이아웃 적용 */
    grid-template-columns: 1fr 1fr; /* 2열 */
    grid-template-rows: 1fr;        /* 1행 */
    gap: 20px; 
    display : flex ; 
    justify-content: space-between;   
} 

.text_box {
      width : 45% ; 
      border: 1px solid red;   
      height : 90% ;  
      line-height: 42px ;         
} 

.profile{
    border: 1px solid red;    
       width : 60% ; 
       height : 100% ; 
       margin : auto ; 
}

.profile h3
 {  
    font-size : 2.8rem ; 
    line-height: 3.6rem;  
    font-family: 'Pretendard', sans-serif;
} 

.profile h4 {
    font-size : 2.4rem ; 
    line-height: 2.8rem;  
    font-family: 'Pretendard', sans-serif;
}




.rs_box {
    width: 45%;
    border: 1px solid red;
    height: 90%;
    display: grid;                  /* 그리드 레이아웃 적용 */
    grid-template-columns: 1fr;     /* 1열 */
    grid-template-rows: 1fr 1fr;    /* 2행 */
    gap: 16px;                      /* 행 사이 간격 (원하는 값으로 조정) */
}

.resume,
.git {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;   
    background-color: antiquewhite; 
}  /* 텍스트를 박스의 중앙에 위치 */
   
.right_box{
    border: 1px solid red;   
    height : 90% ;  
    overflow: hidden ; 
    padding-top : 20px ; 
} 


.grid {
    width : 100% ; 
    height : 100%  ;     
}


.grid_4x { 
    height : 80% ; 
    display: grid;       
    grid-template-columns: repeat(2, 1fr);    
    gap: 16px;    
    border: 1px solid #ccc;  
    padding : 16px ; 
}

/* 그리드 셀의 기본 스타일 (시각화용) */
.able {
    background-color: #ebf5df; 
    border: 1px solid #333;
    padding: 16px;
    text-align: center;
    font-weight: bold; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle{
    width : 120px ; 
    height : 120px ; 
    margin: auto ;
    border-radius: 100% ;
    background-color: #022B5c;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white
}




/* **=======CSS for portfolio ======** */

section.portfolio {
    width : 100% ;  
    min-height : 180vh ; 
    height :auto  ;  /* 수정금지 */   
    padding-top : 7vh ;    
    text-align: center;
}

.about h2,
.portfolio h2, 
.skills h2,
.contact h2 {
    font-size: 5.6rem ;
} 

.des_title h3 {
    font-size: 3.6rem ;  
   font-family: 'Pretendard', sans-serif;
    line-height: 62px ;
    margin-top: 40px ; 
}  /* 프로젝트 제목 */

.profile h3 {

}

.portfolio_inner{
    width : 100% ; 
    max-width : 1280px ; 
    height : 100% ; 
    margin : auto ; 
}




.project{
    width : 100% ; 
    max-width: 1280px ;  
    min-height: 50vh; 
    margin: auto ; 
    margin-top: 40px ;   
    overflow: visible; 
}



.project01, 
.project02,
.project03 {
    width : 100% ; 
    height : auto ;   
  /*   background-color: rgb(83, 155, 177) ; */  
   border-bottom : 1px solid #767676 ;  
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2열 */
    grid-template-rows: 1fr;        /* 1행 */
    gap: 20px;   
    box-sizing: border-box;     
    margin : auto ;            
}

.circle_big {
    width : 240px ; 
    height : 240px ; 
    margin: auto ; 
    border-radius: 100% ;
    background-color: #022B5c;
    display: flex;
    align-items: center;
    justify-content: center;
    color : white ;   
}

.des {
    height : 100% ; 
    font-family: 'Pretendard', sans-serif;
    font-weight: 400 ;  
    border : 1px solid red ;         
} 



.des_text {   
    height : 100% ; 
    font-size: 1.8rem;   
    line-height: 3.6rem;  
    border : 1px solid red ;    
    text-align : left ;  
}  



.des_text p {
    margin-top : 20px ; 
    margin-bottom: 20px ; 
}

.circle_big img {
    width : 120% ; 
    height : 120% ;   
}
 
.button_box {
    display: block;
    margin : auto ; 
    height : 3.6rem ; 
    border : 1px solid red ;   
    text-align: center;
    gap: 100px ; 
} 

button.digging {
    width : 180px ; 
    height : 100% ;     
    border-radius: 50px;
    border: 1px solid #27b86f;   
}  


button.demo {
   width : 180px ; 
    height : 100% ;     
    border-radius: 50px;
    border: 1px solid #27b86f;   
} 


.icon {
    font-size: 36px ;
}  

.mock{
    position : relative; 
}

.crop {
    position : absolute ; 
    width : 216px ; 
    height : 465px ;  
    overflow: hidden ; 
} 

.crop iframe {
    display : block ; 
    width : 215px ; 
    height : 465px ; 
    border-radius: 16px; 
}

/* ** CSS for modal**  */  


/* Close Button (Optional but recommended) */

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
    line-height: 1; /* 높이 조정 */
}

/* Modal Background */
.modal_wrap {
    /* 화면 전체를 덮고 가운데 정렬 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0, 0, 0, 0.7); /* 어두운 반투명 배경 */
    display: none; /* 기본적으로 숨김 */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 표시 */  
}

/* Modal Content (Popup Window) */
.modal_content {
    /* 요청하신 크기 */
    width : 100% ; 
    max-width : 800px ; 
    height : auto ; 
    padding : 20px ;  
    background: #fff; /* 흰색 배경 */
    padding: 40px 20px 0 ; 

    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    /* 추가: 모달 팝업 내용 */  
}  




/* Modal Active State (JavaScript가 이 클래스를 추가/제거) */
.modal_wrap.active {
    display: flex; /* 모달을 보이게 함 */
}

#modal01 h3, 
#modal02 h3,
#modal03 h3 { 
    font-size : 3.6rem ;  
    font-family : 'Pretendard', sans-serif ; 
} 

.clip {
    width : 600px ; 
    height : 350px ; 
    border: 1px solid red ; 
    margin : 0 auto ; 
    margin: 40px auto 0;
}

.clip > video {
    width : 100% ; 
    height : 100% ; 
}


.text_grid {
    width: 100%;
    max-width: 1280px;
    margin: 60px auto 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;         /* 1열 */
    grid-template-rows: repeat(4, auto);/* 4행 */
    gap: 20px;
    align-items: start; 
}














/* 
========= */


 section.skills{
    width : 100% ;  
    min-height : 56vh ;   
    height : auto ; 
    padding-top : 7vh ;   
    text-align: center;  
 }  

.skills_inner {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    background-color: #1d6baf;
    min-height: 56vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2열 */
    grid-template-rows: 1fr;        /* 1행 */
    gap: 20px; 
    padding-top: 40px ;
}


.progress {
    width : 100% ; 
    height : auto ; 
    background-color: #27b86f;
}

.tools{
       width : 100% ; 
    height : auto ; 
    background-color: #27b86f;  
}



/* **=======CSS for contacts ======** */

 section.contact {
    width : 100% ;  
    min-height : 36vh ;   
    height : auto ; 
    text-align: center; 
    padding-top :7vh;       
 }

 .contact_inner {
    width: 100% ; 
    max-width: 1280px ;
    min-height: 36vh ;
    margin: auto; 
    background-color: #e6e9ec;    
    padding: 20px ; 
    justify-content: justify ;
 } 

 .contact_inner ul {
    display : flex ; 
    justify-content: space-evenly ; 
    list-style: none ;
 }



 .con_box{
    width : 12vh ; 
    height : 12vh ; 
    border-radius: 100% ;
    background-color: #27b86f; 
 }

/* **======** */
footer {
    width : 100% ;  
    min-height :10vh ;   
    height : auto ; 
    background-color: rgb(146, 212, 40) ; 
}

